.profile-container {
    padding: 40px 0;
    min-height: 80vh;
}

.profile-header h1 {
    font-weight: 500;
    color: #2A5568;
    margin-bottom: 40px;
    font-family: 'Inter-ExtraBold-28';
}

.column-title {
    font-weight: bold;
    color: #2A5568;
    margin-bottom: 25px;
    font-size: 1.25rem;
}

.form-control, .form-select {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px 15px;
    height: auto;
}

.form-label {
    font-weight: 500;
}

.btn-simpan {
    background-color: #396F89;
    color: white;
    border-radius: 10px;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 1.1rem;
    transition: background-color 0.2s;
    border: none;
}

.btn-simpan:hover {
    background-color: #2A5568;
    color: white;
}