.dark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.55);
    z-index: 150;
    opacity: 0;
    pointer-events: none; 
    transition: opacity .25s ease;
}

.dark-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.sign-up {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.left {
    flex: 0 0 37%;
    overflow: hidden;
}

.background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.right {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 80px;
    position: relative;
}

.form-wrapper {
    width: 100%;
    max-width: 480px;
}

.title {
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    font-weight: 900;
    color: #2C5565;
    margin-bottom: 18px;
    white-space: nowrap;
}

label {
    font-size: 14px;
    font-weight: 600;
}

.required {
    color: #E24A4A;
}

.name-box {
    position: relative;
    margin-top: 6px;
    margin-bottom: 18px;
    width: 100%;
}

.name-box input {
    width: 100%;
    padding: 12px 45px 14px 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.input-box {
    position: relative;
    margin-top: 6px;
    margin-bottom: 18px;
    width: 100%;
}

.input-box input {
    width: 100%;
    padding: 12px 45px 14px 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.password-box {
    position: relative;
    margin-top: 6px;
    margin-bottom: 18px;
    width: 100%;
}

.password-box input {
    width: 100%;
    padding: 12px 45px 14px 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.toggle-password {
    position: absolute;
    right: 14px;
    top: 50%;
    width: 20px;
    cursor: pointer;
    opacity: 0.4;
    transform: translateY(-50%);
    transition: .2s;
}

.toggle-password:hover {
    opacity: 1;
}

.sign-up-btn {
    width: 100%;
    background: #295268;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}

.sign-up-btn:hover {
    background: #253f4c;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000000;
}

.divider:not(:empty)::before {
  margin-right: .75em;
}
.divider:not(:empty)::after {
  margin-left: .75em;
}

.google-icon {
    transform: translateY(-10%);
}

.google-btn {
    width: 100%;
    background: white;
    color: black;
    border: 1px solid #ccc;
    padding: 14px;
    border-radius: 6px;
    font-size: 16px;
    margin-top: 10px;
}

.google-btn:hover{
    background: #f2f2f2bf;
}

.google-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
    pointer-events: none;
    opacity: 0;
    transform: scale(0.95);
    transition: all .25s ease;
}

.google-popup.active {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

.popup-box {
    background: white;
    width: 420px;
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.4);
    font-family: 'Poppins', sans-serif;
}

.popup-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}

.account-option {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: background .2s;
}

.account-option:hover {
    background: #f3f3f3;
}

.popup-avatar {
    width: 40px;
    height: 40px;
    margin-right: 14px;
}

.account-name {
    font-size: 16px;
    font-weight: 600;
}

.account-email {
    font-size: 14px;
    opacity: 0.8;
}