.dark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.55);
    z-index: 150;
    opacity: 0;
    pointer-events: none; 
    transition: opacity .25s ease;
}

.dark-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.forgotpass {
    text-align: right;
    justify-content: right;
}

.forgotpass a {
    font-size: 14px;
    font-weight: 600;
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

.forgotpass a:hover {
    color: #007bff;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000000;
}

.divider:not(:empty)::before {
  margin-right: .75em;
}

.divider:not(:empty)::after {
  margin-left: .75em;
}

.google-icon {
    transform: translateY(-10%);
}

.google-btn {
    width: 100%;
    background: white;
    color: black;
    border: 1px solid #ccc;
    padding: 14px;
    border-radius: 6px;
    font-size: 16px;
    margin-top: 10px;
}

.google-btn:hover{
    background: #f2f2f2bf;
}

.google-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
    pointer-events: none;
    opacity: 0;
    transform: scale(0.95);
    transition: all .25s ease;
}

.google-popup.active {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

.popup-box {
    background: white;
    width: 420px;
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.4);
    font-family: 'Poppins', sans-serif;
}

.popup-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}

.account-option {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: background .2s;
}

.account-option:hover {
    background: #f3f3f3;
}

.popup-avatar {
    width: 40px;
    height: 40px;
    margin-right: 14px;
}

.account-name {
    font-size: 16px;
    font-weight: 600;
}

.account-email {
    font-size: 14px;
    opacity: 0.8;
}